.App {
  text-align: center;
}

.App-logo {
  padding-top: 14px;
  height: 200px;
  border-radius: 50%;
}

.App-header {
  background-color: #3f3f3f;
  height: 260px;
  padding: 20px;
  color: white;
}
